/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');
:root{
    --mainTextColor:#fff;
    --secondaryTextColor: #adb0b1;
    --mainLinkColor: #0da2b8;
    --mainBorderColor: rgb(30, 190, 214);
    --mainBgColor: #131415;
}

*{
    font-family: 'Readex Pro','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
}

body{
    background-color: var(--mainBgColor);
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-size: 500;
}

li{
    line-height: 1.9em;
}

#container_main{
    max-width: 700px;
    margin: 0 auto;
}

.section_page{
    padding-top: 1em;
    padding-bottom: 1em;
}


#wrapper_hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#bio{
    font-weight: 300;
}

#username{
    font-size: 3em;
    line-height: 1em;
}

#email{
    color: var(--mainTextColor);
}

#profile{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#social_list{
    display: flex;
    justify-content: center;
    column-gap: 1em;
    flex-wrap: wrap;
}

#social_list a{
    font-size: 0.9em;
    color: var(--secondaryTextColor);
}

#social_list a:hover{
    color: var(--mainLinkColor);
}

#Qualification_list{
    list-style: none;
}

#wrapper_tech{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card{
    border: 1px solid var(--mainBorderColor);
    padding: 0.5em 1em;
    border-radius: 5px;
}

.work_card{
    border-left: 1px solid var(--mainBorderColor);
    padding-left: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.line{
    background-color: var(--mainBorderColor);
    height: 1px;
}

.project_card{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.project_card a{
    color: var(--mainTextColor);
    transition: 0.3s;
    padding-left: 1em;
}

.project_card a:hover{
    color: var(--mainLinkColor);
}

#table{
    width: 100%;
    border: 1px solid var(--mainBorderColor);
    border-bottom: none;
    border-right: none;
}

tr{
    border: 1px solid var(--mainBorderColor);
}

th{
    color: var(--mainLinkColor);
}

.bold{
    font-weight: bold;
    font-size: 1.1em;
}
td,th{
    text-align: left;
    border-right: 1px solid var(--mainBorderColor) ;
    border-bottom: 1px solid var(--mainBorderColor) ;
    padding: 1em;
}
@media (max-width:500px) {
    #wrapper_hero{
         flex-direction: column;
         align-items:center;
         gap: 1em;
    }
    #profile{
        width: 200px;
        height: 200px;
    }
    .section_page{
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .work_card{
        border-left: none;
        padding-left: 0;
    }
    
    #social_list{
        justify-content: left;
    }


}